# Google Cloud / Dialogflow Credentials
GC_TYPE=service_account
GC_PROJECT_ID=tu-project-id-aqui
GC_PRIVATE_KEY_ID=tu-private-key-id-aqui
GC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
GC_CLIENT_EMAIL=tu-service-account@tu-project.iam.gserviceaccount.com
GC_CLIENT_ID=tu-client-id-aqui
GC_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GC_TOKEN_URI=https://oauth2.googleapis.com/token
GC_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GC_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/tu-service-account%40tu-project.iam.gserviceaccount.com
GC_UNIVERSE_DOMAIN=googleapis.com

# Twilio Credentials
TWILIO_ACCOUNT_SID=tu-account-sid-aqui
TWILIO_AUTH_TOKEN=tu-auth-token-aqui
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# Database
MONGODB_URI=tu-mongodb-uri-aqui

# JWT Secret
JWT_SECRET=tu-jwt-secret-aqui 